.editaccount_details {
  margin: 10px;
  min-height: 80vh;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.editaccount_details .content {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  transition: 0.5s;
  scroll-behavior: smooth;
}
.editaccount_details .content .heading {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.4rem;
  transition: 0.5s;
}

.editaccount_details_from .input_section {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.4rem;
  margin-top: 5px;
  transition: 0.5s;
}
.editaccount_details_from .input_section .form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.7rem;
  width: calc(33% - 10px);
  transition: 0.5s;
}
.editaccount_details_from .input_section .form-group label {
  font-size: 1.3rem;
  color: gray;
  transition: 0.5s;
}
.editaccount_details_from .input_section .form-group input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(201, 195, 195);
  transition: 0.5s;
}
.editaccount_details_from .button_section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.4rem;
  margin-top: 5px;
  transition: 0.5s;
}
.editaccount_details_from .button_section input {
  font-size: 1.2rem;
  font-weight: 500px;
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
  transition: 0.5s;
}
.editaccount_details_from .button_section .form_submit {
  background-color: #ffc107;
}
.editaccount_details_from .button_section .form_submit:hover {
  background-color: #04698e;
}
.editaccount_details_from .button_section .form_reset {
  background-color: #04698e;
}
.editaccount_details_from .button_section .form_reset:hover {
  background-color: #ffc107;
}

/* Responsive */

@media (max-width: 950px) {
  .editaccount_details_from .input_section .form-group {
    width: calc(50% - 10px);
  }
}
@media (max-width: 550px) {
  .editaccount_details_from .input_section .form-group {
    width: calc(100% - 10px);
  }
}
