.changepassword {
  margin: 10px;
  min-height: 90vh;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.changepassword .content {
  background-color: white;
  min-height: 90vh;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  transition: 0.5s;
}
.changepassword .content .heading {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.4rem;
  transition: 0.5s;
}
.changepassword_form .input_section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 1.4rem;
  transition: 0.5s;
}
.changepassword_form .input_section .form_group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.7rem;
  width: calc(33% - 10px);
  transition: 0.5s;
}
.changepassword_form .input_section .form_group label {
  font-size: 1.3rem;
  color: gray;
  transition: 0.5s;
}
.changepassword_form .input_section .form_group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(201, 195, 195);
  transition: 0.5s;
}
.changepassword_form .button_section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.4rem;
  transition: 0.5s;
}
.changepassword_form .button_section input {
  font-size: 1.2rem;
  font-weight: 500px;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
  transition: 0.5s;
  background-color: #ffc107;
}
.changepassword_form .button_section input:hover {
  background-color: #04698e;
}

/* Responsive */

@media (max-width: 1050px) {
  .changepassword_form .input_section .form_group {
    width: calc(50% - 10px);
  }
}
@media (max-width: 640px) {
  .changepassword_form .input_section .form_group {
    width: calc(100% - 10px);
  }
  .changepassword_form .button_section input {
    font-size: 1rem;
    padding: 0.3rem;
  }
}
